h1 Ticket ##{reference}
p Department: #{department}
p From: #{customer_name} (#{customer_email})
h2= subject
p= body
p
  strong Status: 
  = status
hr
= cell('manager/message/cell/new', message_form)
hr
= cell('customer/message/cell/row_item', collection: messages)
